@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

#root{
  min-height: 100vh;
  display: flex;
  animation: fadeIn 1.5s;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

:root[data-theme='light'] {
  --background-color: #f0f4f9;
  --text-color: #000;
  --sidebar-bg: #ffffff;
  --sidebar-text: #000;
  --new-chat-bg: #e6eaf1;
  --new-chat-text: gray;
}

:root[data-theme='dark'] {
  --background-color: #333;
  --text-color: #fff;
  --sidebar-bg: #444;
  --sidebar-text: #fff;
  --new-chat-bg: #555;
  --new-chat-text: #ccc;
}